.uppernav{
    background: #35B8BE;
    height: 50px;
}
.uppernav p{
    color: #D7F1F2;
}
.uppernav span{
    color: white;
    font-weight: 500;
}
.mainnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}
.mainnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 25px;
}
.mainnav .i{
    display: none;
}
.mainnav a img{
    width: 50px;
}
.mainnav ul{
    display: flex;
    list-style-type: none;
}
.mainnav ul li{
    margin: 0px 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #8B97AE;
    cursor: pointer;
}
.mainnav ul .active{
    color: #35B8BE;
}
.cart{
    background: #35B8BE;
    color: white !important;
    padding: 15px 15px;
    border-radius: 5px;
}
.hero{
    background-image: url(bg1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 70px;
}
.hero .row .col-12 h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
}
.hero .row .col-12 p{
    font-size: 18px;
    color: #8B97AE;
    font-weight: 500;
    margin-top: 15px;
}
.hero .row .col-12 .btn{
    background: #35B8BE;
    color: white;
    font-weight: 500;
    padding: 15px;
    margin-bottom:35px;
    margin-top: 35px;
}
.hero .row .col-12 div{
    font-size: 18px;
    color: #8B97AE;
    margin-top: 10px;
}
.hero .row .col-12 div a{
    text-decoration: none;
    color: #35B8BE;
}
.s2{
    padding: 0px 70px;
    background-image: url(bg2.svg);
    background-repeat: no-repeat;
    margin: 100px 30px;
}
.s2 .row .col-12 h1{
    font-weight: bold;
    font-size: 60px;
    color: #35B8BE;
    line-height: 55px;
    margin-top: 100px;
}
.s2 .row .col-12 p{
    font-size: 18px;
    font-weight: 500;
    color: #8B97AE;
    margin-top: 15px;
}
.s2 .row .col-12 .btn{
    background: #35B8BE;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin: 35px 0px;
}
.s3{
    padding: 20px 70px;
}
.s3 h1{
    font-size: 60px;
    color: #35B8BE;
    text-align: center;
    font-weight: bold;
}
.s3 .row .col-12 p{
    font-size: 18px;
    color: #8B97AE;
    font-weight: 500;
}
.s4{
    padding: 20px 70px;
    background-image: url(bg2.svg);
    background-repeat: no-repeat;
    margin: 0px 30px;
}

.s4 h1{
    color: #35B8BE;
    font-size: 60px;
    font-weight: bold;
}
.s4 p{
    font-size: 18px;
    color: #8B97AE;
    font-weight: 500;
}
.s4 .button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s4 .button .active{
    background: #35B8BE;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
}
.s4 .button button{
    border: 2px solid #8B97AE;
    padding: 10px 30px;
    margin: 0px 10px;
    color: #8B97AE;
    font-weight: 500;
}
.colinner{
    border: 1px solid hsl(183, 56%, 48%);
    border-radius: 5px;
    padding: 15px;
    background: white;
}
.colinner .img{
    width: 30%;
    border-radius: 10px;
}
.info input{
    width: 35px;
}
.info{
    margin-left: 20px;
}
.info .btn{
    background: #35B8BE;
    color: white;
}
.s4 .row .col-12 {
    margin-bottom: 23px;
}
.s4 .i{
    margin: auto;
    display: block;
    background: #35B8BE;
    color: white;
    margin-top: 30px;
}
.s5{
    padding: 70px 70px;
}
.s5 .row .col-12 h1{
    font-size: 60px;
    font-weight: bold;
    color: #35B8BE;
    line-height: 50px;
    margin-top: 120px;
}
.s5 .row .col-12 p{
    font-size: 18px;
    font-weight: 500;
    color: #8B97AE;
}
.s5 .row .col-12 .btn{
    background: #35B8BE;
    color: white;
    font-weight: 500;
    padding: 15px;
}
.s6{
    padding: 20px 70px;
    background-image: url(bg2.svg);
    background-repeat: no-repeat;
    margin: 0px 30px;
}
.s6 .row .col-12 h1{
    font-size: 50px;
    font-weight: bold;
    color: #35B8BE;
    line-height: 50px;
    margin-top: 120px;
}
.s6 .row .col-12 p{
    font-size: 18px;
    font-weight: 500;
    color: #8B97AE;
    margin-top: 20px;
}
.s6 .row .col-12 .btn{
    background: #35B8BE;
    color: white;
    font-weight: 500;
    padding: 15px;
    margin-top: 40px;
}
.s6 .row{
    padding: 50px 0px;
}
.s7{
    padding: 20px 10px;
    margin: 0px 30px;
}
.s7 .row .col-12:nth-child(1){
    background: url(p1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.s7 .row .col-12:nth-child(2){
    background: #35B8BE;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-left: 40px;
}
.s7 .row .col-12 h1{
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    color:white;
}
.s7 .row .col-12 .btn{
    background: white;
    color: #35B8BE;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
}
.s8{
    padding: 70px 70px;
    background-color: #F5FBFC;
}
.s8 .row .col-12 img{
    width: 50px;
}
.s8 .row .col-12 p{
    font-size: 18px;
    font-weight: 500;
    color: #8B97AE;
    margin-top: 10px;
}
.s8 .row .col-4 ul{
    list-style-type: none;
}
.s8 .row .col-4 ul li{
    margin: 10px 0px;
    color: #8B97AE;
}
.s8 .row .col-4 ul li:nth-child(1){
    color: black;
}
#close{
    display: none;
}
@media only screen and (max-width: 1024px){

    .hero .row .col-12 h1 br{
        display: none;
    }
    .s2 .row .col-12 h1 br{
        display: none;
    }
    .colinner .img {
        width: 28%;
        border-radius: 10px;
    }
    .info h4{
        font-size: 20px;
    }
    .info p{
        font-size: 15px;
    }
    .s5 .row .col-12 h1 {
        margin-top: 65px;
    }
    .s5 .row .col-12 h1 br{
        display: none;
    }
    .s6 .row .col-12 h1 {
        margin-top: 0px;
    }
    .s6 .row .col-12 h1 br{
        display: none;
    }
}
@media only screen and (max-width: 768px){

    .mainnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 25px;
    }
    .hero {
        background-image: url(bg1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 70px 25px;
    }
    .hero .row .col-12 h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 45px;
    }
    .s2 {
        padding: 0px 20px;
        background-image: url(bg2.svg);
        background-repeat: no-repeat;
        margin: 40px 0px;
    }
    .s2 .row .col-12 h1 {
        font-weight: bold;
        font-size: 45px;
        color: #35B8BE;
        line-height: 55px;
        margin-top: 60px;
    }
    .s4 {
        padding: 20px 50px;
        background-image: url(bg2.svg);
        background-repeat: no-repeat;
        margin: 0px 0px;
    }
    .info p {
        font-size: 14px;
    }
    .info h4 {
        font-size: 16px;
    }
    .s5 {
        padding: 70px 25px;
    }
    .s5 .row .col-12 h1 {
        font-size: 44px;
        font-weight: bold;
        color: #35B8BE;
        line-height: 45px;
        margin-top: 0px;
    }
    .s6 {
        padding: 20px 25px;
        background-image: url(bg2.svg);
        background-repeat: no-repeat;
        margin: 0px 0px;
    }
    .s6 .row .col-12 h1 {
        font-size: 45px;
        font-weight: bold;
        color: #35B8BE;
        line-height: 50px;
        margin-top: 0px;
    }
    .s7 .row .col-12 h1 {
        font-size: 45px;
        font-weight: bold;
        margin: auto;
        color: white;
    }
    .s7 .row .col-12:nth-child(2) {
        background: #35B8BE;
        padding-top: 150px;
        padding-bottom: 120px;
        padding-left: 25px;
    }
    .s8 {
        padding: 70px 50px;
        background-color: #F5FBFC;
    }
}
@media only screen and (max-width: 480px){
    .uppernav p {
        color: #D7F1F2;
        font-size: 12px;
    }
    .hero {
        background-image: url(bg1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px 25px;
    }
    .mainnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 25px;
        background: #F6FCFC;
        margin: 0px;
    }
    .mainnav .i{
        display: block;
        font-size: 30px;
        color: #35B8BE;
    }
    .mainnav ul {
        display: none;
        list-style-type: none;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        background: aliceblue;
        width: 0%;
        height: 100vh;
        transition: 0.5s;
    }
    .mainnav ul li {
        margin: 35px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #8B97AE;
        cursor: pointer;
        font-weight: 600;
    }
    .s3 h1 {
        font-size: 40px;
        color: #35B8BE;
        text-align: center;
        font-weight: bold;
    }
    .s4 h1 {
        color: #35B8BE;
        font-size: 37px;
        font-weight: bold;
    }
    .s5 .row .col-12 h1 {
        font-size: 37px;
        font-weight: bold;
        color: #35B8BE;
        line-height: 45px;
        margin-top: 0px;
    }
    .j{
        margin-top: 50px;
    }
    .s6 .row .col-12 h1 {
        font-size: 37px;
        font-weight: bold;
        color: #35B8BE;
        line-height: 50px;
        margin-top: 0px;
    }
    .s8 {
        padding: 20px 25px;
        margin-top: 29px;
        background-color: #F5FBFC;
    }
    .s8 .row .col-4 ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    #close{
            display: block;
            position: fixed;
            top: 20px;
            right: 20px;
            background: aliceblue;
            padding: 20px;
            font-size: 25px;
            color: #8B97AE;
    }
    .s4 {
        padding: 20px 25px;
        background-image: url(bg2.svg);
        background-repeat: no-repeat;
        margin: 0px 0px;
    }
    .s8 .row .col-12 p br{
        display: none;
    }
    .s4 .button button {
        border: 2px solid #8B97AE;
        padding: 10px 10px;
        margin: 0px 10px;
        color: #8B97AE;
        font-weight: 500;
    }
    .hero .row .col-12 .img{
        margin-top: 40px;
    }
    #menu{
        margin: auto;
    }
    .hero .row .col-12{
        text-align: center;
    }
    .s2 .row .col-12{
        text-align: center;
    }
    .colinner {
        border: 1px solid hsl(183, 56%, 48%);
        border-radius: 5px;
        padding: 15px;
        background: white;
        flex-direction: column;
    }
    .colinner .img {
        width: 100%;
        border-radius: 10px;
    }
    .info h4 {
        font-size: 25px;
    }
    .info p {
        font-size: 16px;
    }
    .info {
        margin-left: 20px;
        margin-top: 20px;
    }
    .s5 .row .col-12{
        text-align: center;
    }
    .s6 .row .col-12{
        text-align: center;
    }
    .s7 .row .col-12:nth-child(2) {
        background: #35B8BE;
        padding-top: 150px;
        padding-bottom: 120px;
        padding-left: 25px;
        text-align: center;
    }
}